<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Bed & Bones</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "My bookings", my_bookings_path, class:"nav-link"%>
      </li>
       <li class="nav-item active">
        <%= link_to "My pets", my_pets_path, class:"nav-link"%>
      </li>
    </ul>
  </div>
</nav>

<h1>Edit This Pet</h1>
<%= simple_form_for @pet do |f| %>
  <%= f.input :name, label: 'Pet name' %>
  <%= f.input :age, label: 'Pet age'%>
  <%= f.input :address, label: 'Your address'%>
  <%= f.input :price, label: 'Price per day'%>
  <%= f.association :species, label: 'Spieces'%>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<div class="edit-buttons">

<%#= link_to 'Edit This Pet', edit_pet_path(@pet), class: "btn btn-primary" %>
<%= link_to 'Delete This Pet', pet_path(@pet), method: :delete, class: "btn btn-warning" %> |
<%= link_to 'Back', pet_path(@pet), class: "btn btn-success" %>
</div>
