<br><br>
  <div class="card col-7 col-md-5 col-lg-3 center-card m-auto">
    <% if @pet.photo.attached? %>
      <%= cl_image_tag @pet.photo.key, class: "card-img-top", height: 300, width: 400, crop: :fill%>
    <% else %>
      <%= image_tag('macaw.jpg', draggable: "true", class: "card-img-top") %>
    <% end %>
    <div class="card-body">
      <h2 class="card-title"><%=@pet.name.capitalize%></h2>
      <p class="card-subtitle mb-2 text-muted"><%= @pet.species.name.capitalize %></p>
      <% if (@pet.age < 2)  %>
        <p class="card-text"><%= @pet.age %> year old</p>
      <% else %>
        <p class="card-text"><%= @pet.age %> years old</p>
      <% end %>
    </div>
    <div class="card-body price">
      <p>£<%= @pet.price %> / day</p>
    </div>
    <div class="card-body book-now">
      <%= link_to 'Book Now', new_pet_booking_path(@pet), class: "custom-btn blue "%>
      <%= link_to 'Back', pets_path, class: "custom-btn orange" %>
    </div>
  </div>

<%# Review Area %>
<br>
</div>
</div>
