<div class="container">
  <h1 class="display-1"><%= @pet.name.capitalize %></h1>
  <p><%= @pet.address %></p>

  <div>
    <%if @pet.photo.attached?%>
     <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
   <% end %>
  </div>
  <div>
    <%= @pet.species.name.capitalize %>
  </div>
  <div>
    <%= link_to 'Book This Pet', new_pet_booking_path(@pet), class: "btn btn-primary" %>
    <%= link_to 'Back', pets_path %>
  </div>
</div>
