<h1>New Booking</h1>
<div class="container col-6 p-3">
  <%= simple_form_for [ @pet, @booking ] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %><%= link_to 'Back', pet_path(@pet) %>
  <% end %>
</div>
