<div class="center center-text">
  <h1>Leave a Review</h1>
  <br>
    <%= simple_form_for([ @pet, @booking, @review ]) do |f| %>
        <%= f.input :content, as: :text %>
        <%= f.input :rating, collection: (0..10)  %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to 'Cancel', pet_path(@pet), class: "btn btn-warning" %>
    <% end %>
</div>
