<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand pl-5px" href="/">Bed & Bones</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Browse pets", pets_path, class:"nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to "My bookings", my_bookings_path, class:"nav-link"%>
      </li>
       <li class="nav-item active">
        <%= link_to "My pets", my_pets_path, class:"nav-link"%>
      </li>
    </ul>
    <div class="container-fluid">
      <%# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
      <%= form_tag pets_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a pet"
          %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</nav>
